body {
  padding: 0px;
  margin: 0px;
  color: #50505A;
}

.root-paper-container {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background-color: #FAFAFA;
}

.root-grid-container {
  margin: 1rem 0px 0px 0px;
}

.add-todo-form-container {
  margin: 1rem 0px;
  padding: 0 1rem;
}